* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-purple: #7C3AED;
    --light-purple: #CAB3FF;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: 'Inter', sans-serif;

}

.app {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    background-color: var(--dark-purple);
    position: relative;
}

.sidebar {
    background-color: var(--dark-purple);
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.logo-kanban {
    margin: 60px;
}

.container-buttons {
    display: flex;
    flex-direction: column;
}

.container-buttons button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.container-buttons button p {
    font-size: 20px;
    color: var(--light-purple) ;
}

.items-button{
    width: 100%;
    
    display: flex;
    margin-left: 60px;
    padding-bottom: 35px;
}

.items-button button {
    display: flex ;
    align-items: center;
    gap: 20px;
}

.first-item button p {
    font-weight: bold;
}

section {
    height: calc(100vh - 10px);
    width: 80%;
    background-color: #ffffff;
    border: 1px solid black;
    border-top-left-radius: 30px;

    position: absolute;
    right: 0;
    bottom: 0;
}
